@using ProjetsJo.Entities;
@using ProjetsJo.BLL.Interfaces;
@attribute [Authorize(Roles = "Administrateur")];

@inject IOfferService offerService;
@inject ISnackbar Snackbar

@page "/Administration"

<div class="offers">
    <h2>Page d'administration des offres de la billetterie</h2>
    <div class="offer-edit">
        <div>
            <label>Intitulé de l'offre: </label>
            <input class="" @onfocusout="()=>Save(newOffer.Name, newOffer)" type="text" @bind="@newOffer.Name" />
        </div>
        <div>
            <label>Nombre de tickets de l'offre: </label>
            <input @onfocusout="()=>Save(newOffer)" type="number" min="1" @bind="@newOffer.TicketNumber" />
        </div>
        <div>
            <label>Prix: </label>
            <input @onfocusout="()=>Save(newOffer)" type="number" min="0.00" step="0.01" @bind="@newOffer.Price" />
        </div>
        <div>
            <label>Ventes: @newOffer.Total</label>
        </div>
        <button @onclick="Add">Ajouter</button>
    </div>
    @foreach (Offer offer in Offers)
    {
        <div class="offer-edit">
            <div>
                <label>Intitulé de l'offre: </label>
                <input class="" @onfocusout="()=>Save(offer.Name, offer)" type="text" @bind="@offer.Name" />
            </div>
            <div>
                <label>Nombre de tickets de l'offre: </label>
                <input @onfocusout="()=>Save(offer)" type="number" min="1" @bind="@offer.TicketNumber" />
            </div>
            <div>
                <label>Prix: </label>
                <span>@offer.Price€</span>
            </div>
            <div>
                <label>Ventes: @offer.Total</label>
            </div>
            <div>
                <label>Gains: @offer.AmountOffer()€</label>
            </div>
            @if (offer.State)
            {
                <button @onclick="()=>Disable(offer.Id)">Désactivation</button>
            }
            else
            {
                <span>Désactivée</span>
            }
        </div>
    }
</div>

@code {
    private List<Offer> Offers = new List<Offer>();
    private Offer newOffer = new Offer();
    private Dictionary<int, bool> offerNameUnicity = new();

    /// <summary>
    /// This method get the data when the component is mounted
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        GetOffers();
    }

    /// <summary>
    ///  Get all the Offers from the database 
    ///  and setup a Dictionary to verifyName unicity on Update
    /// </summary>
    private void GetOffers()
    {
        Offers = offerService.GetOffers();
        offerNameUnicity = new();
        Offers.ForEach(o => offerNameUnicity.Add(o.Id, true));
        resetNewOffer();
    }

    /// <summary>
    /// This method permits to reset the new offer 
    /// </summary>
    private void resetNewOffer()
    {
        newOffer.Id = 0;
        newOffer.Name = "";
        newOffer.TicketNumber = 0;
        newOffer.Price = 0m;
        newOffer.Total = 0;
    }

    /// <summary>
    /// Verify elements of new offer.
    ///  Then requests the adding of the element to offerService.
    /// </summary>
    private void Add()
    {
        string warningMessage = "Ajout impossible:<br>";
        if (string.IsNullOrWhiteSpace(newOffer.Name))
            warningMessage += $"- Veuillez saisir un Nom <br>";
        if (Offers.Count(o => o.Name == newOffer.Name) > 1)
            warningMessage += $"- Au moins une autre offre à le même nom <br>";
        if (newOffer.TicketNumber == 0)
            warningMessage += $"- Une offre doit au moins vendre 1 ticket.<br>";
        if (newOffer.Price == 0)
            warningMessage += $"- L'offre doit avoir un prix<br>";

        if (warningMessage == "Ajout impossible:<br>")
        {
            try
            {
                offerService.AddOffer(newOffer);

                Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
                Snackbar.Configuration.SnackbarVariant = Variant.Filled;
                Snackbar.Add($"Ajout réalisé.", Severity.Success);
                GetOffers();
                resetNewOffer();
            }
            catch
            {
                Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
                Snackbar.Configuration.SnackbarVariant = Variant.Filled;
                Snackbar.Add($"L'ajout n'a pas eu lieu.", Severity.Error);
            }
        }
        else
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
            Snackbar.Configuration.SnackbarVariant = Variant.Filled;
            Snackbar.Add($"{warningMessage}", Severity.Error);
        }
    }

    /// <summary>
    /// This method permits to verify the unicity on changing Name.
    ///  Then asks the save of the offer to offerService.
    /// </summary>
    /// <param name="newName">Name written in the input.</param>
    /// <param name="offerToUpdate">offer target by the name change.</param>
    private void Save(string newName, Offer offerToUpdate)
    {
        if (Offers.Count(o => o.Name == newName) <= 1)
            offerService.UpdateOffer(offerToUpdate);
        else
            offerNameUnicity[offerToUpdate.Id] = true;
    }

    /// <summary>
    /// This method requests the save of the offer when the modification concerns an other property than Name.
    /// </summary>
    /// <param name="offerToUpdate">Offer that has to be update.</param>
    private void Save(Offer offerToUpdate)
    {
        offerService.UpdateOffer(offerToUpdate);
    }

    /// <summary>
    /// This method asks the service to disable the offer.
    /// </summary>
    /// <param name="offerId">Id of the offer to disable.</param>
    private void Disable(int offerId)
    {
        offerService.DisableOffer(offerId);
        GetOffers();
    }
}
