@using ProjetsJo.Entites;
@using ProjetsJo.BLL.Interfaces;
@attribute [Authorize(Roles="Administrateur")];

@inject IOfferService offerService;

@page "/Administration"

<h2>Page d'administration des offres de la billetterie</h2>
<div class="offers">
    <div class="offer-edit">
        <div>
            <label>Intitulé de l'offre: </label>
            <input @onfocusout="(e)=>Save(e)" type="text" @bind="@newOffer.Name" />
        </div>
        <div>
            <label>Nombre de tickets de l'offre: </label>
            <input @onfocusout="(e)=>Save(e)" type="number" min="1" @bind="@newOffer.TicketNumber" />
        </div>
        <div>
            <label>Prix: </label>
            <input @onfocusout="(e)=>Save(e)" type="number" min="0.00" step="0.01" @bind="@newOffer.Price" />
        </div>
        <div>
            <label>Ventes: @newOffer.Total</label>
        </div>
        <button @onclick="Add">Ajouter</button>
    </div>
    @foreach (Offer offer in Offers)
    {
        <div class="offer-edit">
            <div>
                <label>Intitulé de l'offre: </label>
                <input @onfocusout="(e)=>Save(e)" type="text" @bind="@offer.Name" />
            </div>
            <div>
                <label>Nombre de tickets de l'offre: </label>
                <input @onfocusout="(e)=>Save(e)" type="number" min="1" @bind="@offer.TicketNumber" />
            </div>
            <div>
                <label>Prix: </label >
                <input @onfocusout="(e)=>Save(e)" type="number" min="0.00" step="0.01" @bind="@offer.Price" />
            </div>
            <div>
                <label>Ventes: @offer.Total</label>
            </div>
        </div>
    }
</div>

@code {
    private List<Offer> Offers = new List<Offer>();
    private Offer newOffer = new Offer();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Offers = offerService.GetOffers();
    }

    private void Save(FocusEventArgs e)
    {
        Console.WriteLine(e.ToString());
    }

    private void Add()
    {
        offerService.AddOffer(newOffer);
        Offers = offerService.GetOffers();
        resetNewOffer();
    }

    private void resetNewOffer()
    {
        newOffer.Id = 0;
        newOffer.Name = "";
        newOffer.TicketNumber = 0;
        newOffer.Price = 0m;
        newOffer.Total = 0;
    }
}
