@using ProjetsJo.Entities;
@using ProjetsJo.BLL.Interfaces;
@using ProjetsJo.Authentication;
@using System.Security.Claims;
@using System.Text.Encodings;
@using ProjetsJo.Pages;
@page "/Ticketing"
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IOfferService _offerService
@inject ITicketingService _ticketService

<div class="ticketing-container">

    @if (connectedUser.Tickets != null)
    {
        <div class="tickets">
            @foreach (Ticket ticket in connectedUser.Tickets!)
            {
                <img alt="Embedded QR Code" src="data:image/jpeg;base64,@ticket.Qrcode" />
            }
        </div>
    }
    <div class="offers">
        @foreach(Offer offer in Offers.Where(o => o.State))
        {
            <div class="offer">
                <span>Offre: @offer.Name</span>
                <span>Nombre de ticket: @offer.TicketNumber</span>
                <span>Prix: @offer.Price€</span>
                <button class="oi oi-plus" @onclick="()=>AddOfferToCart(offer)">
                    <span>Ajouter</span>
                </button>
            </div>
        }
    </div>
    <div class="cart">
        @foreach (Offer offerToPay in Cart.Keys.ToList())
        {
            <div class="offer-to-pay">
                <div class="offer-info">
                    <span>@Cart[offerToPay] x @offerToPay.Name</span>
                    <div class="modify-quantity">
                        <span class="oi oi-minus" @onclick="()=>DecreaseCart(offerToPay)" />
                        <input @bind="Cart[offerToPay]" type="number" class="modify-quantity" />
                        <span class="oi oi-plus" @onclick="()=>Cart[offerToPay]++" />
                    </div>
                </div>
                <div class="action-button">
                    <span>Montant pour l'offre: @offerToPay.Price€</span>
                    <button class="oi oi-delete" @onclick="()=>RemoveOfferToPay(offerToPay)"></button>
                </div>
            </div>
        }
        <div class="pay-zone">
            <div>Total à régler : @getTotalAmount() €</div>
            <AuthorizeView>
                <Authorized>
                    <button class="action-button" @onclick="PayCart">Paiement</button>
                </Authorized>
                <NotAuthorized>
                    <span>Veuillez vous connecter pour procéder au paiement de l'offre</span> 
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; } 
    private List<Offer> Offers = new();
    private Dictionary<Offer, int> Cart = new();
    private User connectedUser { get; set; } = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Offers = _offerService.GetOffers();

        // GetAuthentication
        AuthenticationState currentUser = authenticationState.Result;
        if (currentUser.User.Identity.IsAuthenticated)
        {
            connectedUser.FirstName = currentUser.User.Claims.First(c => c.Type  == ClaimTypes.Name).Value;
            connectedUser.LastName = currentUser.User.Claims.First(c => c.Type  == ClaimTypes.Surname).Value;
            connectedUser.Email = currentUser.User.Claims.First(c => c.Type  == ClaimTypes.Email).Value;
            connectedUser.AccountKey = Guid.Parse(currentUser.User.Claims.First(c => c.Type  == ClaimTypes.Sid).Value);
            connectedUser.IsAdmin = currentUser.User.Claims.First(c => c.Type == ClaimTypes.Role).Value == "Administrateur";
            ActualiseUserTickets();
        };
    }

    private void AddOfferToCart(Offer offerToAdd)
    {
        if (Cart.ContainsKey(offerToAdd))
            Cart[offerToAdd]++;
        else
            Cart.Add(offerToAdd, 1);
    }

    private void RemoveOfferToPay(Offer offerToRemove)
    {
        Cart.Remove(offerToRemove);
    }

    private void DecreaseCart(Offer offerToDecrease)
    {
        Cart[offerToDecrease]--;
        if (Cart[offerToDecrease] == 0)
            RemoveOfferToPay(offerToDecrease);
    }

    private void ModifyQuantity(ChangeEventArgs e, Offer offerToModify)
    {
        if(e.Value != null)
            if(Int32.TryParse(e.Value!.ToString(), out int result))
                Cart[offerToModify] = result;
    }


    private decimal getTotalAmount()
    {
        decimal amount = 0m;
        Cart.Keys.ToList().ForEach(o => amount += Cart[o] * o.Price);
        return amount;
    }

    private async void PayCart()
    {
        int number = 0;
        Cart.Keys.ToList().ForEach(o => number += o.TicketNumber * Cart[o]);
        await _ticketService.MockPaymentApi();
        _ticketService.CreateTickets(connectedUser.AccountKey, Cart);
        ActualiseUserTickets();
    }

    private void ActualiseUserTickets()
    {
        connectedUser.Tickets = _ticketService.GetUserTickets(connectedUser.AccountKey).Result;
    }
}
